.container-description-section1 {
    min-height: 100vh;
    background-image: url(../../../Layout/Assets/Volume1/DSCF0289DSCF0289-1_Instagram_horizontal.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container-description-section2 {
    min-height: 100vh;
    background-image: url(../../../Layout/Assets/Volume1/DSCF0732DSCF0732-1_Instagram_horizontal.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container-description1 h2 {
    color: #FEFBF6 !important;
    text-align: center;
    font-weight: bold !important;
}

.container-description1 p {
    color: #FEFBF6;
    text-align: center;
}

.container-description2 h2 {
    color: #FEFBF6 !important;
    text-align: center;
    font-weight: bold !important;
}

.container-description2 p {
    color: #FEFBF6;
    text-align: center;
}


.container-description-section .col {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container-description1 {
    background-color: #a64ea048;
    min-height: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);;
}

.container-description2 {
    background-color: #1ca6983f;
    min-height: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);;

}


@media(max-width:650px) {
   
    .container-description-section1{
        background-attachment:scroll;
    }
    .container-description-section2{
        background-attachment:scroll;
    }
    .container-description1 {
        padding: 1.5rem 1rem;
    }
    .container-hero-description{
        min-height: 100vh;
    }
    .container-description2 {
        padding: 1.5rem 1rem;
    }
    .container-description1 h2 {
        font-size: 22px;
    }
    .container-description2 h2 {
        font-size: 22px;
    }
    .container-description1 p{
        font-size: 16px;
        line-height: 1.1;
        text-align: justify;
        margin: 10px 0;
    }
    .container-description2 p{
        font-size: 16px;
        line-height: 1.1;
        text-align: justify!important;
        margin: 10px 0;
    }
}