$color-primary: #FEFBF6;
$color-secondary: #F2ACD3;
$color-tertiary: #A64EA0;
$color-dark: #854F8C;
$color-light-green:#1CA698;
$color-green: #0DA68A;

$font-primary: "Raleway", sans-serif;;
$font-secondary: 'Open Sans', sans-serif;
$font-tertiary: 'Lexend Deca', sans-serif;;


$text-small-p: 0.8em;
$text-medium-p: 1em;
$text-large-p: 1.4em;
$text-extra-large-p: 1.8em;

$text-small-title: 1.4em;
$text-medium-title: 1.8em;
$text-large-title: 2.8em;
$text-extra-large-title: 3.5em;